<div class="universal-styles">
	<center>
		<div id="category-buttons">
			<h1 id="main-title">karynn elio tran</h1>
			<div class="box" id="box-1">code</div>
			<div class="box" id="box-2">career</div>
			<div class="box" id="box-3">create</div>
			<div class="box" id="box-4">contact</div>
		</div>
	</center>

<div id="about-me">
	<div class="container">
		<div class="row">
			<div class="four columns">
				<p class="header-title"><strong>WHO</strong> I AM</p>
				<p class="header-text">
					A tiny, twenty something New Yorker, an Aquarius, born in the Year of the Rat, an ENFJ. I sometimes view life through thick-framed glasses or a Nikon lens, but most importantly, through optimism.
				</p>
			</div>
			<div class="four columns">
				<p class="header-title"><strong>WHAT</strong> I AM</p>
				<p class="header-text">
					A budding full-stack web developer and fascinated by  beautiful design. Once a qualitative storyteller by trade, but forever an inquisitive researcher by nature. An advocate for the consumer.
				</p>
			</div>
			<div class="four columns">
				<p class="header-title"><strong>WHAT ELSE</strong> I AM</p>
				<p class="header-text">I am a life-long student. I travel to discover, not to relax. I pluck a ukulele, though not very well. I may be addicted to coffee. I believe art can be found in almost anything.</p>
			</div>
		</div>
	</div>
</div>

<div id="code-section">
	<div class="container">
		<div class="row">
			<div class="content">
				<div class="four columns">
					<h3 id="subheader">code</h3>
						<p>WEB DEVELOPMENT IMMERSIVE</p>
						<p>GENERAL ASSEMBLY</p>
						<p>September to December 2014</p>
				</div>

				<div class="four columns">
					<div>
						<img class="project-photo" src="assets/wineanddine.png">
						<p class="header">WEEK FOUR PROJECT</p><br>
						A restaurant app that manages menu items, parties, and orders.<br>
						<p>Built with Ruby, Sinatra and SQL</p>
					</div>

					<div>
						<img class="project-photo" src="assets/snowman.png">
						<p class="header">WEEK NINE PROJECT</p><br>
						A game app based on hangman that generates random words. Each wrong guess melts the snowman!<br>
						<p>Built with Ruby, Sinatra, SQL, Javascript, AJAX methods</p>
					</div>
				</div>

				<div class="four columns">
					<div>
						<img class="project-photo" src="assets/seek.png">
						<p class="header">WEEK SEVEN PROJECT</p><br>
						A group project that utilizes APIs to generate a snapshot of a destination's photos, historical weather, average flight prices, etc.<br>
						<p>Built with Ruby, Rails, SQL, Javascript, AJAX methods, Hotwire and Flickr APIs</p>
					</div>					

					<div>
						<img class="project-photo" src="assets/comicsmashup.png">
						<p class="header">FINAL PROJECT</p><br>
						A comic book story-generating app that allows users to search for favorite characters and select actions against a random opponent.<br>
						<p>Built with Ruby, Rails, SQL, Javascript, AJAX and Backbone methods, ComicVine APIs</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<div id="career-section">
	<div class="container">
		<div class="row">
			<div class="content">
				<div class="four columns">
					<p class="header">STORYTELLER &<br>QUALITATIVE ANALYST</p></br>
					COMMUNISPACE CORPORATION<br>
					I've worked with awesome teams, for multiple Fortune 500 companies such as Heinz, Pepsi-Co and Hilton Worldwide. On a daily basis, I took journey's through consumers' lives by way of research design, dug up fascinating insights through their experiences and brought their stories to life in visually engaging reports.
				</div>

				<div class="four columns">
					<p class="header">PUBLISHER &<br> PROJECT MANAGER</p></br>
					MEDIAPLANET PUBLISHING<br>
					I've published two independent supplements in USA Today and The Washington Post, educating over one million readers about work/life balance in the workplace and the importance of digestive health. Getting Sharon Osbourne and Pearl Jam's Mike McCready involved in these campaigns was pretty cool, too.  
				</div>

				<div class="four columns">
					<h3 id="subheader">career</h3>
						<p><%= link_to 'Resume (PDF)', home_download_pdf_url %></p>
						<p><%= link_to "LinkedIn", "https://www.linkedin.com/in/karynneliotran", :target => "_blank" %></p>
				</div>
			</div>
		</div>	
	</div>
</div>

<div id="create-section">
	<div class="container">
		<div class="row">
			<div class="content">
				<div class="four columns">
					<h3 id="subheader">create</h3>
					<p><%= link_to "Photos Gallery", "https://www.flickr.com/photos/124520799@N02/sets/72157645686683272/", :target => "_blank" %></p>
				</div>

				<div class="three columns">
					<p class="header">LET'S MAKE SOMETHING!</p></br>
					When I'm not coding, I'm all about creating. Crafting, cooking and capturing travel adventures and unique moments are just a few of my favorite things. Scroll through to take a peek at what I like to dabble in my spare time.
				</div>

				<div class="five columns">
					<%= render partial: 'carousel' %>
				</div>

			</div>
		</div>	
	</div>
</div>

<div id="contact-section">
	<div class="container">
		<div class="row">
			<div class="content">
				<div class="twelve columns">
					<div id="logos">
						<img class="logo" src="assets/icons/email.png" width="50px" height="50px">
						<img class="logo" src="assets/icons/flickr.png" width="50px" height="50px">
						<img class="logo" src="assets/icons/github.png" width="50px" height="50px">
						<img class="logo" src="assets/icons/linkedin.png" width="50px" height="50px">						
						<img class="logo" src="assets/icons/twitter.png" width="50px" height="50px">					
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="content">
				<div class="eight columns">
					<p class="header">Send me a note!</p></br>
					Email: <%= render partial: 'contact_form' %>
				</div>

				<div class="four columns">
					<h3 id="subheader">contact</h3>
				</div>

			</div>
		</div>	
	</div>
</div>

	<footer>
	</footer>

</div>
